In [ ]:
import pandas as pd

In [30]:
ufo  = pd.read_csv('http://bit.ly/uforeports')
ufo1 = pd.read_csv('http://bit.ly/uforeports')
ufo2 = pd.read_csv('http://bit.ly/uforeports')
ufo3 = pd.read_csv('http://bit.ly/uforeports')

In [18]:
ufo1.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [21]:
#renaming columns - 1 the naive way
ufo1.columns = ['city','colors_reported','shape_reported','state','time']

In [22]:
ufo1.columns

Index(['city', 'colors_reported', 'shape_reported', 'state', 'time'], dtype='object')

In [16]:
#renaming columns - 2
#my way
l = []
for x in ufo.columns:
    x=str(x)
    x = x.lower().replace(' ','_')
    l.append(x)
    
ufo.columns = l

In [17]:
ufo.columns

Index(['city', 'colors_reported', 'shape_reported', 'state', 'time'], dtype='object')

In [28]:
#renaming columns - 3
ufo2.rename({'City':'city','Colors Reported':'colors_reported'},inplace=True,axis=1)

In [29]:
ufo2.columns

Index(['city', 'colors_reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [42]:
#renaming columns the pro way
ufo3.columns = ufo3.columns.str.replace(' ','_')
ufo3.columns = ufo3.columns.str.lower()
ufo3.head()

                   city colors_reported shape_reported state             time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00